<div class="container" style="padding-top: 20px">
  <div class="jumbotron">
    <% if user_signed_in? %>
    Click here to add a <%= link_to 'New Pin', new_pin_path, class: "btn btn-default btn-lg" %>
    <% end %>
  </div>
  <div id="pins" class="transitions-enabled">
    <% @pins.each do |pin| %>
      <div class="box panel panel-default">
        <%= image_tag pin.image.url(:medium) %>
        <div class="panel-body">
          <%= pin.description %>
          <%= pin.user.email %>
          <%= link_to 'Show', pin %>
          <% if pin.user == current_user %>
            <%= link_to 'Edit', edit_pin_path(pin) %>
            <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>