

<div class="container" style="padding-top: 20px">
		<%= link_to 'Back', pins_path %>
</div>
<div class="container" style="padding-top: 20px">
	<div class="well">
		<div class="media">
			<a class="pull-left">
					<%= image_tag @assets.image.url(:medium) %>
			</a>
				<h4><%= @pin.description %></h4>
				<%= @pin.long_description %>
				<% if @pin.user == current_user %>
					<%= link_to 'Edit', edit_pin_path(@pin) %> 
				<% end %>
		</div>
	</div>
</div>